@import "../../../node_modules/bulma/sass/utilities/initial-variables"

// Project Colors
$primary: #899878
$white: #F4F4F9
$background: #F7F7F2
$black: #222725

// Override Bulma variables
$navbar-background-color: $primary
$footer-background-color: $primary
$navbar-item-color: $white

// Import Bulma
@import "../../../node_modules/bulma/bulma.sass"

// Project CSS
body
    background: $background

nav
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28)

header
    margin-top: 1rem

header > h1
    margin-bottom: 0

footer
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 -4px 8px rgba(0,0,0,.28)

p
    margin-bottom: 1.5rem

h1
    margin-bottom: 1.5rem;

.post-list

.post-list-item
    // margin-bottom: 1rem
    padding: 1rem 0;
    border-bottom: 1px solid lighten($black, 50%)

.post-list:first-child
    border-top: 1px solid lighten($black, 50%)

.center-50
    max-width: 50%
    margin: auto

.is-flex-column-full
    display: flex
    min-height: 100vh
    flex-direction: column

.is-flex-1
    flex: 1

.has-text-white a,strong
    color: $white

.container .card
    margin-bottom: 1.25rem

pre
  background: #1d1f21

.content pre code
    border: none

// .card
//     background: $background

.is-rounded
    border-radius: 50%
    border: 5px solid #eee

.image.is-centered
    margin: auto

img
    margin-bottom: 1rem !important

.m-b-0
    margin-bottom: 0
